# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django database and settings
db.sqlite3
.env

# Static/media (if added later)
static/
media/

# VS Code project settings
.vscode/

# Django migrations (optional)
*/migrations/__pycache__/
*.pyc

# OS-specific files
.DS_Store
Thumbs.db
